<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Django Blog</h5>
                <p>Sharing knowledge and inspiration through quality content.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
                    {% for category in categories %}
                    <li><a href="{% url 'category_posts' category.slug %}" class="text-white">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Connect</h5>
                <div class="d-flex gap-3">
                    <a href="#" class="text-white"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin fa-lg"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-github fa-lg"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4 bg-light">
        <div class="text-center">
            <p>&copy; 2025 Django Blog. Built with Django and Bootstrap.</p>
        </div>
    </div>
</footer>